.heroWrapper2{
    margin: 0 auto;
    max-width: 1280px;
    margin-top: 170px;
}

.hero_text{
    color: #fff;
    font-size: 18px;
}

.titulo h2{
    color: #fff;
    font-size: 32px;
    font-family: 'Poppins' Arial;
}